.loginPage {
    display: block;
    margin: 10px auto;
    max-width: 400px;
}

form div{
    width: 100% !important;
}
.loginForm {
    width: 90% !important;
    margin: 0 auto;
}
.createField {
    margin: 8px auto !important;
}