
.MuiExpansionPanelSummary-content.Mui-expanded, .MuiExpansionPanelSummary-content {
    justify-content: space-between !important;
    margin: 15px auto 8px auto !important;
    display: grid !important;
    grid-template-columns: 70% 25% 5% !important;
    max-width: 1170px;
}

.priorityTask div, .priorityTask{
    display: flex;
    align-self: center;
    min-width: 100px;
    margin: 0 auto;
}
.statusTask div, .statusTask{
    display: flex;
    align-self: center;
    min-width: 100px;
    justify-content: center;
}
.MuiTypography-body1 {
    margin-left: 20px !important;
}
.clearText {
    text-decoration: none;
    display: block;
}
.doneText {
    text-decoration: line-through;
    display: block;
}
.deleteButtonTask {
    position: absolute;
    z-index: 999;
    left: auto;
    right: 40px;
    display: flex;
    align-self: center;
    top: 0 !important;
}
.MuiExpansionPanelSummary-expandIcon {
    position: relative !important;
    z-index: 20;
}
.dataTasks {
    position: absolute;
    display: flex;
    align-self: center;
    font-size: 14px;
    left: 10px;
    top: 2px;
}
.MuiIconButton-root:hover .MuiSvgIcon-root {
    color: black
}

.MuiExpansionPanelDetails-root {
    justify-content: center;
}
.MuiTypography-body1 {
    padding-right: 10px;
}
.MuiExpansionPanel-root, .MuiExpansionPanel-root.Mui-expanded {
    margin: 15px auto 15px auto !important;
    max-width: 1170px;
}
.MuiExpansionPanelSummary-content.Mui-expanded {
    margin: 15px auto 15px auto !important;
}
.MuiFormControlLabel-root {
    width: 100% !important;
}
.makeStyles-root-298 {
    margin: 0;
    top: 2px !important;
}

.MuiTextField-root {
    margin: 0 auto !important;
}

@media screen and (max-width: 768px) {
    .MuiExpansionPanelSummary-content.Mui-expanded, .MuiExpansionPanelSummary-content {
        justify-content: space-between !important;
        display: grid !important;
        grid-template-columns: 60% 35% 5% !important;
    }
}
@media screen and (max-width: 425px) {
    .editButtonTask {
        position: relative;
        right: -10px;
    }

    .MuiExpansionPanelSummary-expandIcon.Mui-expanded {
        position: absolute !important;
        bottom: 0 !important;
        right: 10px;
    }
    .MuiTypography-body1 {
        padding-right: 0;
    }
    .PrivateSwitchBase-input-128 {
        z-index: 45;
    }
    .dataTasks {
        bottom: 10px;
        left: 5px;
    }
    .TaskText {
        margin-left: 0;
        position: relative;
        left: -20px;
        text-decoration: none;
        display: block;
    }
    .MuiExpansionPanelSummary-content.Mui-expanded, .MuiExpansionPanelSummary-content {
        justify-content: center !important;
        display: grid !important;
        grid-template-rows: 60% 40% !important;
        grid-template-columns: 100%  !important;
        width: 100% !important;
        flex-grow: 0 !important;
    }
    .MuiTypography-body1 {
        margin: 10px auto !important;
        padding: 10px;
        text-align: center;
    }
    .deleteButtonTask {
        top: 10px !important;
        right: -3px;
    }
    .MuiExpansionPanelSummary-expandIcon {
        position: absolute !important;
        left: auto;
        right: 10px;
        bottom:0;
    }
}
@media screen and (max-width: 375px) {
    .deleteButtonTask {
        position: absolute;
        display: block;
        top: 10px !important;
        right: -13px !important;
        left: auto;
        right: 20px;
        margin: 0 auto;
        width: 70px;
    }
    .MuiExpansionPanelSummary-expandIcon {
        position: absolute !important;
        left: auto;
        right: 10px;
        bottom: 0;
    }
}