.password {
    position: relative;
    height: 100%;
    width: 30px !important;
}
.showPass {
    display: inline-block;
    width: 30px !important;
    height: 30px !important;
    position: absolute;
    left: -200px;
    top: 30px;
}
.doNotShowPass {
    display: inline-block;
    width: 30px !important;
    height: 30px !important;
    position: absolute;
    left: -200px;
    top: 30px;
}
.doNotShowPass:hover {
    background-color: green;
}
