.inputTaskDiv {
    width: 100%;
}
.MuiTextField-root{
    width: 100% !important;
    padding: 10px !important;
    box-sizing: border-box;
}

.inputTaskDiv {
    width: 100%;
}
.choseDiv {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
 }
.MuiExpansionPanelSummary-root.Mui-expanded  {
    box-sizing: border-box;
}
.makeStyles-formControl-197, .makeStyles-formControl-223  {
    min-width: 80px !important;
}

@media screen and (max-width: 768px) {
    .addTaskDiv {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        width: 100%;
    }
    .addTaskDiv:nth-child(2), .addTaskDiv:nth-child(3) {
        display: flex;
        flex-direction: row;
    }
}