.inputTaskDiv {
    width: 100%;
}
.MuiTextField-root {
    width: 100% !important;
    padding: 10px !important;
    box-sizing: border-box;
}
.inputTaskDiv {
    width: 100%;
}
.choseDiv {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    position: relative;
}
.MuiExpansionPanelSummary-root.Mui-expanded,
.MuiExpansionPanelSummary-root {
    box-sizing: border-box;
}
.makeStyles-formControl-197,
.makeStyles-formControl-223 {
    min-width: 80px !important;
}
.MuiIconButton-edgeEnd {
    margin-right: -12px;
    margin-top: 10px !important;
}
.setDeadlineIcon {
    position: absolute !important;
    right: 25px!important;
    left: auto !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    display: flex !important;
    justify-content: center !important;
    max-width: 100% !important;
    min-width: 20px !important;
    padding: 0;
}
.setDeadlineIcon:hover {
    box-shadow: 0 0 10px 5px rgba(46, 49, 49, 0.5);;
}
.setDeadlineIcon:hover::after {
    content: "set deadline";
    display: flex;
    position: absolute;
    right: 40px;
    top: -10px;
    width: 65px;
    height: 20px;
    font-size: 8px;
    background-color: initial;
    justify-content: center;
    align-items: center;
    border: 1pt solid black;
}
.setDeadlineIcon span {
    margin:  0;
}
.addTaskPanelAnimation {
    animation: addTaskTransition 1s;
    position: relative;
    z-index: 1;
}
@keyframes addTaskTransition {
    0% {
        position: relative;
        top: -100px;
        opacity: 0;
    }
    100% {
        position: relative;
        top: 0;
        opacity: 1;
    }
}
@media screen and (max-width: 768px) {
    .addTaskDiv {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        width: 100%;
    }
    .addTaskDiv:nth-child(2),
    .addTaskDiv:nth-child(3) {
        display: flex;
        flex-direction: row;
    }
}
@media screen and (max-width: 425px) {
    .addTaskDiv {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        width: 100%;
    }
    .addTaskDiv:nth-child(2),
    .addTaskDiv:nth-child(3) {
        display: flex;
        flex-direction: row;
    }
    .setDeadlineIcon {
        position: absolute !important;
        right: 10px!important;
        left: auto !important;
        display: flex !important;
        top: 25px !important;
        justify-content: center !important;
        max-width: 100% !important;
        min-width: 20px !important;
        padding: 0;
    }
    .setDeadlineIcon:hover::after {
        top: 10px;
    }
}
